aiohttp==3.4.4
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.1.0
backend.ai-client==19.3.1
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
conda==4.6.14
cryptography==2.6.1
Django==2.2.1
humanize==0.5.1
idna==2.8
menuinst==1.4.16
multidict==4.5.2
namedlist==1.7
Pillow==6.0.0
pycosat==0.6.3
pycparser==2.19
pyOpenSSL==19.0.0
PySocks==1.6.8
python-dateutil==2.8.0
pytz==2019.1
pywin32==223
requests==2.21.0
ruamel-yaml==0.15.46
six==1.12.0
sqlparse==0.3.0
tabulate==0.8.3
tqdm==4.32.1
urllib3==1.24.1
virtualenv==16.6.0
win-inet-pton==1.1.0
wincertstore==0.2
yarl==1.3.0
