asn1crypto==0.24.0
awsebcli==3.15.2
botocore==1.12.178
cement==2.8.2
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
colorama==0.3.9
conda==4.6.14
cryptography==2.6.1
Django==2.2.10
docutils==0.14
future==0.16.0
idna==2.7
jmespath==0.9.4
menuinst==1.4.16
pathspec==0.5.9
pycosat==0.6.3
pycparser==2.19
pyOpenSSL==19.0.0
pypiwin32==223
PySocks==1.6.8
python-dateutil==2.8.0
pytz==2019.1
pywin32==223
PyYAML==3.13
requests==2.20.1
ruamel-yaml==0.15.46
semantic-version==2.5.0
six==1.11.0
sqlparse==0.3.0
termcolor==1.1.0
urllib3==1.24.1
wcwidth==0.1.7
win-inet-pton==1.1.0
wincertstore==0.2
